<div class="scrivito-title-details">
  <%= scrivito_tag :div, widget, :title %>
  <%= link_to '(details)', '#', 'data-scrivito-toggle-details' => widget.id %>
  <div class="scrivito-details-<%= widget.id %>">
    <div>
      <b>Background Color</b>
      <%= scrivito_tag :div, widget, :background_color, data: {colors_list: widget.scrivito_selectable_color_classes} %>
    </div>
  </div>
</div>
