<div class="scrivito-title-details">
  <%= scrivito_tag :h4, widget, :title %>
  <%= link_to '(details)', '#', 'data-scrivito-toggle-details' => widget.id %>
  <div class="scrivito-details-<%= widget.id %>">
    <div>
      <h5>Background Color</h5>
      <%= render 'scrivito_advanced_editors/color_picker', widget: widget, attribute: :background_color %>
    </div>
  </div>
</div>
