<!DOCTYPE html>
<html>
<head>
  <title>ScrivitoTabbedContentWidget</title>
  <%= stylesheet_link_tag    "scrivito_tabbed_content_widget/application", media: "all" %>
  <%= javascript_include_tag "scrivito_tabbed_content_widget/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
