<!DOCTYPE html>
<html>
<head>
  <title>ScrivitoTabbedContent</title>
  <%= stylesheet_link_tag    "scrivito_tabbed_content/application", media: "all" %>
  <%= javascript_include_tag "scrivito_tabbed_content/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
