.scrivito-tab-group .scrivito-tab-titles {
  overflow: hidden;
}

.scrivito-tab-group .scrivito-tab-titles .scrivito-tab-title {
  float: left;
  padding: 10px 50px;
  background: #eee;
  cursor: pointer;
}

.scrivito-tab-group .scrivito-tab-titles .scrivito-tab-title:hover {
  background: #ccc;
}

.scrivito-tab-group .scrivito-tab-titles .scrivito-tab-title.scrivito-tab-active {
  background: #ddd;
}

.scrivito-tab-group .scrivito-tab-contents .scrivito-tab-content {
  display: none;
  min-height: 100px!important;
  padding: 10px;
  width: 100%;
}

.scrivito-tab-group .scrivito-tab-contents .scrivito-tab-content.scrivito-tab-active {
  display: block;
}

@media (max-width: 600px) {
  .scrivito-tab-group .scrivito-tab-titles .scrivito-tab-title {
    width: 100%;
  }
}